/* Add this to your styles.css file */

/* Form container styling */
.form-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form input and button styling */
#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form button {
    width: 90%; /* Responsive width */
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ddd; 
    border-radius: 4px;
}

#registration-form button {
    background-color: #5cb85c; 
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease-in-out;
}

#registration-form button:hover {
    background-color: #4cae4c; 
}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

#gameDiv {
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    display: flex;
}

.game-cards {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
}

.game-cards li {
    background-color: white;
    color: black;
    margin-right: 3px;
    margin-top: 25px;
    height: 500px; 
    width: 500px; 
    margin-bottom: 10px; 
    border: 5px solid black; 
}

.game-cards li img {
    width: 100%;
    height: 60%; 
    object-fit: cover; 
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0;
}

.card-content p {
    color: gray;
    margin-top: 5px;
}

.redirect-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: yellow;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    text-align: center;  
    font-family: 'Arial', sans-serif;  
    font-size: 24px;  
    color: #333; 
    margin-top: 20px; 
    margin-bottom: 20px;  
}

/* Style for the learning path container */
.learning-path {
    text-align: center;  
    margin: auto; 
    max-width: 800px;  
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
    background-color: #fff;  
    border-radius: 10px;  
    margin-bottom: 30px;  
}


.game-cards {
    list-style-type: none;  
    padding: 0; 
    display: flex;  
    justify-content: center;  
    flex-wrap: wrap; 
    gap: 20px;  
}
