<!-- main_page.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="/static/styles/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="gameDiv">
        <ul class="game-cards">
            <li>
                <img src="static/images/Game1.jpeg" alt="Game 1">
                <div class="card-content">
                    <h3>Game 1</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                </div>
            </li>
            <li>
                <img src="static/images/Game2.jpeg" alt="Game 2">
                <div class="card-content">
                    <h3>Game 2</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                    </p>
                </div>
            </li>
            <li>
                <img src="static/images/Game3.jpeg" alt="Game 3">
                <div class="card-content">
                    <h3>Game 3</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                    </p>
                </div>
            </li>
            <li>
                <img src="static/images/Game4.jpeg" alt="Game 4">
                <div class="card-content">
                    <h3>Game 4</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                    </p>
                </div>
            </li>
            <li>
                <img src="static/images/Game5.jpeg" alt="Game 5">
                <div class="card-content">
                    <h3>Game 5</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                    </p>
                </div>
            </li>
            <li>
                <img src="static/images/Game6.jpeg" alt="Game 6">
                <div class="card-content">
                    <h3>Game 6</h3>
                    <p> Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor sit amet<br>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--------------------------------------------------------------------------------------------------------->
</body>

</html>