<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Learning Paths</title>
    <link href="/static/styles/styles.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <!-- Beginner Learning Path -->
    <div class="learning-path">
      <h2>Beginner Route</h2>
      <ul class="game-cards">
        <li>
          <img src="static/images/Game1.jpeg" alt="Game 1" />
          <div class="card-content">
            <h3>Game 1</h3>
            <p>Description for Game 1...</p>
          </div>
        </li>
        <li>
          <img src="static/images/Game3.jpeg" alt="Game 3" />
          <div class="card-content">
            <h3>Game 3</h3>
            <p>Description for Game 3...</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Intermediate Learning Path -->
    <div class="learning-path">
      <h2>Intermediate Route</h2>
      <ul class="game-cards">
        <li>
          <img src="static/images/Game3.jpeg" alt="Game 3" />
          <div class="card-content">
            <h3>Game 3</h3>
            <p>Description for Game 3...</p>
          </div>
        </li>
        <li>
          <img src="static/images/Game5.jpeg" alt="Game 5" />
          <div class="card-content">
            <h3>Game 5</h3>
            <p>Description for Game 5...</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Advanced Learning Path -->
    <div class="learning-path">
      <h2>Advanced Route</h2>
      <ul class="game-cards">
        <li>
          <img src="static/images/Game4.jpeg" alt="Game 4" />
          <div class="card-content">
            <h3>Game 4</h3>
            <p>Description for Game 4...</p>
          </div>
        </li>
        <li>
          <img src="static/images/Game5.jpeg" alt="Game 5" />
          <div class="card-content">
            <h3>Game 5</h3>
            <p>Description for Game 5...</p>
          </div>
        </li>
        <li>
          <img src="static/images/Game6.jpeg" alt="Game 6" />
          <div class="card-content">
            <h3>Game 6</h3>
            <p>Description for Game 6...</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Redirect Button -->
    <div class="redirect-button">
      <a href="/">Back to Main Page</a>
    </div>
  </body>
</html>
